@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@import "./assets/variables.scss";
@import "./assets/normalize.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}
